/* Your customized CSS goes here */
body {
  /* background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}
#root {
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: grid;
  justify-items: center;
  height: 100vh;
  align-content: center;
  justify-content: center;
  align-items: start;
}

.add-button {
  margin: 5px 10px;
  padding: 5px 20px;
  border-radius: 1rem;
  background-color: rgb(44,164,196);
  border: 3px solid rgb(246,235,228);
}
.add-button:hover {
  background-color: rgb(57,131,156);
  transition: 1s;
}

.form {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3px);
  border-radius: 1rem;
}

ul {
  list-style-type: none;
}

.todo {
  background-image: url('./post-it2.png');
  background-size: cover;
  background-repeat: no-repeat;
}
