/* Your customized CSS goes here */
body {
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.container {
  display: grid;
  justify-items: center;
  height: auto;
  align-content: center;
  justify-content: center;
  align-items: start;
  padding: 3rem 0rem;
}

.add-button {
  margin: 5px 10px;
  padding: 5px 20px;
  border-radius: 1rem;
  background-color: rgb(44,164,196);
  border: 3px solid rgb(246,235,228);
}
.add-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgb(44,164,196);
  transition: 1s;
}

.form {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3px);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 1rem;
  padding: 0rem;
}

.todo {
  background-image: url('./post-it2.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50px;
}

.todo:hover {
  box-shadow: 2px 2px 10px rgb(57,131,156);
}

.todo-element {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.delete-button svg:hover {
  height: 24px;
  width: 20px;
}
