body {
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.container {
  display: grid;
  justify-items: center;
  height: auto;
  align-content: center;
  justify-content: center;
  align-items: start;
  padding: 3rem 0rem;
  gap: 1rem;
}

.add-button {
  margin: 5px 10px;
  padding: 5px 20px;
  border-radius: 1rem;
  background-color: rgb(44,164,196);
  border: 3px solid rgb(246,235,228);
}
.add-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgb(44,164,196);
  transition: 1s;
}

.form {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3px);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 1rem;
  padding: 0rem;
}

.todo {
  background-image: url('./assets/post-it4.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  max-width: 350px;
  text-wrap: wrap;
  box-shadow: gray .2rem .2rem 3px;
}

.todo:hover {
  box-shadow: 2px 2px 10px rgb(57,131,156);
}

.todo-element {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.monthlyTodo {
  background-image: url('./assets/post-it.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.weeklyTodo {
  background-image: url('./assets/post-it2.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

@media (min-width: 100px) and (max-width: 900px) {
  .body {
    display: grid;
    grid-template-rows: 1fr;
  }

  .form {
    margin: 1rem;
  }
}

@media (min-width: 901px) and (max-width: 1249px) {
  .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form {
    margin: 1rem;
  }
}

@media (min-width: 1250px) {
  .body {
    display: grid;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .form {
    margin: 1rem;
  }
}
